/* .vsc-initialized {
    margin: 0px;
}

.app {
    background-color: #fafafa;
}

.header {
    font-family: JETSansDigital, sans-serif !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

.logo-container {
    flex: 1;
}

.logo {
    width: 70px;
    height: auto;
    border-radius: 35px;
}

.nav-items ul {
    list-style: none;
    display: flex;
    padding: 0;
}

.nav-items li {
    font-size: 20px;
    margin-right: 20px;
    font-weight: bold;
    cursor: pointer;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.nav-items li:hover,
.nav-link:hover {
    color: #ff9900;
}

.shimmer-container {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.shimmer-card {
    font-family: Sans-serif;
    background-color: #b0b0b0;
    border-radius: 8px;
    padding: 5px;
    margin: 10px;
    width: 350px;
    height: 250px;
    border: 1px solid white;
}

.shimmer-image {
    width: 100%;
    height: 175px;
    border-radius: 8px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: left;
}

.res-menu {
    background-color: #fafafa;
    font-family: JETSansDigital, sans-serif !important;
    margin: 5px;
}

.menu-group {
    max-width: 800px;
    margin: 10px;
    padding: 5px;
    font-family: JETSansDigital, sans-serif !important;
    background-color: #fafafa;
}

.menu-item-list {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.menu-item {
    background-color: white;
    display: flex;
    max-width: 100%;
    height: 150px;
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
}

.menu-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.menu-item-details {
    margin: 5px;
}

.menu-item-image {
    margin: 5px;
}

.item-image {
    height: 100%;
    border-radius: 8px;
}

.item-name {
    font-size: 20px;
    margin: 5px;
}
.item-description {
    font-size: 14px;
    margin: 5px;
    font-weight: lighter;
}
.item-price {
    font-size: 16px;
    margin: 5px;
    font-weight: normal;
}


.res-card {
    font-family: Sans-serif;
    background-color: #fff;
    border-radius: 8px;
    padding: 5px;
    margin: 10px;
    width: 350px;
    border: 1px solid white;
}

.res-card:hover {
    border: 1px solid #ff9900;
}

.res-image {
    width: 100%;
    height: 175px;
    border-radius: 8px;
}

.res-name, .res-desc {
    margin: 5px;
}

.res-desc {
    color: #616161;
}

.res-details {
    display: flex;
    padding: 2px;
    justify-content: space-between;
}

.res-details h4 {
    color: grey;
    margin: 5px;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option-bar {
    display: flex;
    margin: 5px 0;
    align-items: left;
}

.search-bar {
    margin: 0px 5px;
}

.search-box,
.search-btn,
.filter-btn {
    padding: 5px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    font-size: 16px;
}

.search-btn:hover,
.filter-btn:hover {
    background-color: lightgrey;
}

.res-link {
    text-decoration: none;
    color: black;
}



   */

@tailwind base;
@tailwind components;
@tailwind utilities;
